.container {
  background: ;
}
.rect {
  width: 100%;
  height: 20vh;
  fill: #f37f7f;
}

.animation {
  transform: translate(345.118, 178) translate(-228, -42.5);
  animation: a0_t 3.6s linear both, a0_w 3.6s linear both;
}

@keyframes a0_t {
  0% {
    transform: translate(117.117645px, 135.5px);
  }
  55.5555% {
    transform: translate(117.117645px, 255.5px);
  }
  77.7777% {
    transform: translate(344.117645px, 255.5px);
  }
  100% {
    transform: translate(344.117645px, 255.5px);
  }
}
@keyframes a0_w {
  0% {
    width: 456px;
  }
  55.5556% {
    width: 456px;
  }
  77.7778% {
    width: 229px;
  }
  100% {
    width: 229px;
  }
}

.bg-navy {
  background-color: #001f3f;
}
.bg-blue {
  background-color: #0074d9;
}
.bg-aqua {
  background-color: #7fdbff;
}
.bg-teal {
  background-color: #39cccc;
}
.bg-olive {
  background-color: #3d9970;
}
.bg-green {
  background-color: #2ecc40;
}
.bg-lime {
  background-color: #01ff70;
}
.bg-yellow {
  background-color: #ffdc00;
}
.bg-orange {
  background-color: #ff851b;
}
.bg-red {
  background-color: #ff4136;
}
.bg-fuchsia {
  background-color: #f012be;
}
.bg-purple {
  background-color: #b10dc9;
}
.bg-maroon {
  background-color: #85144b;
}
.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #aaa;
}
.bg-silver {
  background-color: #ddd;
}
.bg-black {
  background-color: #111;
}
.navy {
  color: #001f3f;
}
.blue {
  color: #0074d9;
}
.aqua {
  color: #7fdbff;
}
.teal {
  color: #39cccc;
}
.olive {
  color: #3d9970;
}
.green {
  color: #2ecc40;
}
.lime {
  color: #01ff70;
}
.yellow {
  color: #ffdc00;
}
.orange {
  color: #ff851b;
}
.red {
  color: #ff4136;
}
.fuchsia {
  color: #f012be;
}
.purple {
  color: #b10dc9;
}
.maroon {
  color: #85144b;
}
.white {
  color: #fff;
}
.silver {
  color: #ddd;
}
.gray {
  color: #aaa;
}
.black {
  color: #111;
}
.border--navy {
  border-color: #001f3f;
}
.border--blue {
  border-color: #0074d9;
}
.border--aqua {
  border-color: #7fdbff;
}
.border--teal {
  border-color: #39cccc;
}
.border--olive {
  border-color: #3d9970;
}
.border--green {
  border-color: #2ecc40;
}
.border--lime {
  border-color: #01ff70;
}
.border--yellow {
  border-color: #ffdc00;
}
.border--orange {
  border-color: #ff851b;
}
.border--red {
  border-color: #ff4136;
}
.border--fuchsia {
  border-color: #f012be;
}
.border--purple {
  border-color: #b10dc9;
}
.border--maroon {
  border-color: #85144b;
}
.border--white {
  border-color: #fff;
}
.border--gray {
  border-color: #aaa;
}
.border--silver {
  border-color: #ddd;
}
.border--black {
  border-color: #111;
}
.fill-navy {
  fill: #001f3f;
}
.fill-blue {
  fill: #0074d9;
}
.fill-aqua {
  fill: #7fdbff;
}
.fill-teal {
  fill: #39cccc;
}
.fill-olive {
  fill: #3d9970;
}
.fill-green {
  fill: #2ecc40;
}
.fill-lime {
  fill: #01ff70;
}
.fill-yellow {
  fill: #ffdc00;
}
.fill-orange {
  fill: #ff851b;
}
.fill-red {
  fill: #ff4136;
}
.fill-fuchsia {
  fill: #f012be;
}
.fill-purple {
  fill: #b10dc9;
}
.fill-maroon {
  fill: #85144b;
}
.fill-white {
  fill: #fff;
}
.fill-gray {
  fill: #aaa;
}
.fill-silver {
  fill: #ddd;
}
.fill-black {
  fill: #111;
}
.stroke-navy {
  stroke: #001f3f;
}
.stroke-blue {
  stroke: #0074d9;
}
.stroke-aqua {
  stroke: #7fdbff;
}
.stroke-teal {
  stroke: #39cccc;
}
.stroke-olive {
  stroke: #3d9970;
}
.stroke-green {
  stroke: #2ecc40;
}
.stroke-lime {
  stroke: #01ff70;
}
.stroke-yellow {
  stroke: #ffdc00;
}
.stroke-orange {
  stroke: #ff851b;
}
.stroke-red {
  stroke: #ff4136;
}
.stroke-fuchsia {
  stroke: #f012be;
}
.stroke-purple {
  stroke: #b10dc9;
}
.stroke-maroon {
  stroke: #85144b;
}
.stroke-white {
  stroke: #fff;
}
.stroke-gray {
  stroke: #aaa;
}
.stroke-silver {
  stroke: #ddd;
}
.stroke-black {
  stroke: #111;
}

.nav {
 height: 200px;
 overflow: hidden;
 position: relative;
}
.nav-text {
  position: absolute;
  top: 10px;
  left: 40px;
  z-index: 1000;
}

.nav:hover {
  background: #eee;
}

.rect-nav {
  position: absolute;
  /* top: -130px;
  left: -30px; */
  z-index: 100;
}
/*
@keyframes rect2
{
  0% {
    left: -300px;
    d: path('M0,0L392.492,0L293.241,397.823L0,397.823Z'); animation-timing-function: cubic-bezier(0,0.40338,0.432287,0.736478);
  }
  25% {
  d: path('M0,0L795.86,0L670.584,397.823L0,397.823Z'); animation-timing-function: cubic-bezier(0.407134,0.668856,1,1);
  }
  91.6667% {
    d: path('M0,0L809.877,0L710.626,397.823L0,397.823Z'); animation-timing-function: cubic-bezier(1,0,1,1);
  }
  100% {
    left: 0px;
    d: path('M0,0L772.379,0L673.128,397.823L0,397.823Z');
  }
} */

@keyframes a0_d { 0% { d: path('M0,0L371.159,0L330.233,21.1874L330.751,62.7802L273.494,109.16L277.302,145.823L180.19,145.823L125.344,145.823L51.983,145.823L0,145.823Z'); } 5% { d: path('M0,0L530.948,0L511.49,25.8532L429.785,63.6092L449.566,108.132L472.776,144.49L239.015,134.312L190.842,144.49L80.4868,137.218L0,144.49Z'); } 15% { d: path('M0,0L618.527,0L601.106,25.6146L576.61,61.6321L545.664,107.134L521.165,143.156L338.652,143.156L237.206,125.396L97.697,143.156L0,143.156Z'); } 30% { d: path('M0,0L734.659,0L706.229,25.6146L726.373,61.6321L690.878,107.134L662.779,143.156L431.439,138.116L300.855,132.056L120.86,136.496L0,143.156Z'); } 55% { d: path('M11.4974,0L803.21,0L736.595,33.3835L760.832,63.9282L711.425,111.799L704.776,148.49L460.061,134.547L318.57,148.49L122.86,130.068L0,148.49Z'); } 60% { d: path('M0,0L760.379,0L742.896,25.8532L718.313,62.2061L687.256,108.132L662.67,144.49L510.491,130.438L299.537,144.49L106.204,131.407L0,144.49Z'); } 100% { d: path('M0,0L760.379,0L742.896,25.8532L718.313,62.2061L687.256,108.132L662.67,144.49L510.491,130.438L299.537,144.49L106.204,131.407L0,144.49Z'); } }
